#alohomora-svg-box {
    margin: 6rem 1rem 0 1rem;
    width: calc(100% - 1rem * 2);
    height: 42dvh;
    display: flex;
    justify-content: center;
}

#alohomora-svg-box svg {
    height: 100%;
    width: 100%;
    max-width: calc(2.8em * 14);
}

#alohomora-words-box {
    margin: 3rem 1rem 0 1rem;
    height: 3rem;
    width: calc(100% - 1rem * 2);
    display: flex;
    justify-content: center;
}

#alohomora-words {
    color: var(--content-color-primary);
    font-family: text, 'Noto Serif CJK SC', serif;
    font-size: 2.6rem;
    /* text-shadow:
        0 0 20px color-mix(in srgb, var(--bg-color-1), white 30%),
        0 0 40px color-mix(in srgb, var(--bg-color-2), white 30%); */
}

@media (min-width: 1000px) {
    #alohomora-words {
        font-size: 2.8rem;
    }
}

/* 按钮容器 */
#alohomora-button-box {
    width: 100%;
    height: calc(100dvh - 40dvh - 6rem - 3em - 3rem * 2);
    /* 内容居中 */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 1000px) {
    #alohomora-button-box {
        height: calc(100dvh - 40dvh - 6rem - 3em - 3rem * 2 - 2rem);
    }
}

/* 按钮 */
#alohomora-button {
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 100%;
    /* 内部图标居中 */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1000px) {
    #alohomora-button {
        height: 5rem;
        width: 5rem;
    }
}

/* 进入按钮内图标 */
#alohomora-button-icon {
    max-height: 1.6rem;
    max-width: 1.6rem;
}

@media (min-width: 1000px) {
    #alohomora-button-icon {
        max-height: 2.2rem;
        max-width: 2.2rem;
    }
}

#alohomora-button-icon path {
    fill: var(--content-color-primary);
}
