/* 标题容器 */
#home-title-box {
    width: calc(100% - 5dvh * 2);
    /* 内部元素居中 */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20dvh 5dvh 0 5dvh;
    font-family: 'title', 'Noto Serif CJK SC', serif;
}

/* 标题 */
#home-title {
    color: var(--content-color-primary);
    margin: 0;
    font-size: 4.2rem;
}

@media (min-width: 1000px) {
    #home-title {
        font-size: 8rem;
    }
}

/* 标题英文 */
#home-title-en {
    color: var(--content-color-secondary);
    font-size: 2.4rem;
}

@media (min-width: 1000px) {
    #home-title-en {
        font-size: 3.2rem;
    }
}

/* 进入按钮容器 */
#home-button-box {
    width: 100%;
    height: calc(100dvh - 20dvh - 4.2rem - 2.4rem - 2.6rem - 2rem);
    /* 内容居中 */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 1000px) {
    #home-button-box {
        height: calc(100dvh - 20dvh - 8rem - 3.2rem - 3rem - 2rem);
    }
}

/* 进入按钮 */
#home-button {
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 100%;
    /* 内部图标居中 */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1000px) {
    #home-button {
        height: 5rem;
        width: 5rem;
    }
}

/* 进入按钮内图标 */
#home-button-icon {
    max-height: 1.6rem;
    max-width: 1.6rem;
}

@media (min-width: 1000px) {
    #home-button-icon {
        max-height: 2.2rem;
        max-width: 2.2rem;
    }
}

#home-button-icon path {
    fill: var(--content-color-primary);
}

/* 关于按钮 */
#about-button {
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 100%;
    /* 相对于视口定位 */
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    /* 内部图标居中 */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1000px) {
    #about-button {
        height: 3rem;
        width: 3rem;
    }
}

/* 关于按钮内部图标 */
#about-button-icon {
    max-height: 1rem;
    max-width: 1rem;
}

@media (min-width: 1000px) {
    #about-button-icon {
        max-height: 1.2rem;
        max-width: 1.2rem;
    }
}

#about-button-icon path {
    fill: var(--content-color-primary);
}

#about-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    z-index: 4000;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    opacity: 0;
}

/* 关于信息容器 */
#about-box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    height: calc(100dvh - (8dvh + 1rem) * 2);
    width: calc(100dvw - (10dvw + 1rem) * 2);
    flex-direction: column;
    align-items: flex-start;
    padding: calc(8dvh + 1rem) calc(10dvw + 1rem);
    color: white;
    font-family: 'text', 'Noto Serif CJK SC', serif;
    font-size: 1.2rem;
    display: none;
    overflow: auto;
    /* 隐藏滚动条 */
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* 透明度渐变遮罩 */
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 6%,
        black 15%,
        black 85%,
        transparent 94%
    );
}

@media (min-width: 1000px) {
    #about-box {
        height: calc(100dvh - (10dvh + 1rem) * 2);
        width: 640px;
        padding: calc(10dvh + 1rem) calc((100dvw - 640px) / 2);
    }
}

.about-item {
    margin-bottom: 1.2rem;
    --padding: 1rem;
    border-radius: 1.6rem;
    width: 100%;
    line-height: 1.3em;
    letter-spacing: 0px;
}

.about-title {
    margin-top: 1.2rem;
    margin-bottom: 0.9rem;
    font-size: 2.2rem;
    line-height: 1em;
    width: auto;
}

.about-helper-info {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.about-avatar-box {
    background-size: cover;
    background-position: center;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    display: inline-block;
    margin-right: calc(0.5rem + 1px);
}

.about-avatar-box#linxi-avatar {
    background-image: url("/images/about/linxi-avatar.jpg");
}

.about-avatar-box#pixabay-avatar {
    background-image: url("/images/about/pixabay-avatar.png");
}

.about-nickname {
    font-size: 1.2em;
    text-decoration: none;
}