/* 标题容器 */
div#home-title-box {
    width: calc(100% - 5dvh * 2);
    /* 内部元素居中 */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20dvh 5dvh 0 5dvh;
    font-family: 'title', 'Noto Serif CJK SC', serif;
}

div#home-title-box.removing {
    transition: translate .6s ease-out, opacity .3s ease-out;
    translate: 0 calc((20dvh + 4.2rem + 2.4rem) * -1);
    opacity: 0;
}

/* 标题 */
h1#home-title {
    color: var(--content-color-primary);
    margin: 0;
    font-size: 4.2rem;
}

@media (min-width: 1000px) {
    h1#home-title {
        font-size: 8rem;
    }
}

/* 标题英文 */
span#home-title-en {
    color: var(--content-color-secondary);
    font-size: 2.4rem;
}

@media (min-width: 1000px) {
    span#home-title-en {
        font-size: 3.2rem;
    }
}

/* 进入按钮容器 */
div#home-button-box {
    width: 100%;
    height: calc(100dvh - 20dvh - 4.2rem - 2.4rem - 2.6rem - 2rem);
    /* 内容居中 */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 1000px) {
    div#home-button-box {
        height: calc(100dvh - 20dvh - 8rem - 3.2rem - 3rem - 2rem);
    }
}

/* 进入按钮 */
div#home-button {
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 100%;
    /* 内部图标居中 */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1000px) {
    div#home-button {
        height: 5rem;
        width: 5rem;
    }
}

div#home-button.removing {
    animation-play-state: paused;
    transition: scale .6s ease-out, opacity .3s ease-out;
    scale: 6;
    opacity: 0;
}

svg#home-button-icon {
    max-height: 1.6rem;
    max-width: 1.6rem;
}

@media (min-width: 1000px) {
    svg#home-button-icon {
        max-height: 2.2rem;
        max-width: 2.2rem;
    }
}

svg#home-button-icon path {
    fill: var(--content-color-primary);
}

/* 关于按钮 */
div#about-button {
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 100%;
    /* 相对于视口定位 */
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    /* 内部图标居中 */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1000px) {
    div#about-button {
        height: 3rem;
        width: 3rem;
    }
}

div#about-button.removing {
    transition: transform .6s ease-out, opacity .3s ease-out;
    transform: translateY(5rem);
    /* 由于兼容性问题，下面这行无法触发动画，故不采用 */
    /* translate: 0 5rem; */
    opacity: 0;
}

svg#about-button-icon {
    max-height: 1rem;
    max-width: 1rem;
}

@media (min-width: 1000px) {
    svg#about-button-icon {
        max-height: 1.2rem;
        max-width: 1.2rem;
    }
}

svg#about-button-icon path {
    fill: var(--content-color-primary);
}