#letter-reply {
    flex-direction: column;
}

#chat-history {
    display: flex;
    flex-direction: column-reverse;
    height: calc(75vh - 5rem);
    width: calc(100% - 2rem * 2);
    padding: 5rem 2rem 3rem 2rem;

    overflow: auto;

    /* 隐藏滚动条 */
    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;
    /* 透明度渐变遮罩 */
    -webkit-mask-image: linear-gradient(to bottom,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%);
    mask-image: linear-gradient(to bottom,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%);
}

.ch-role-1 {
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ch-role-2 {
    width: 100%;
    padding-bottom: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ch-role-1 glass-card {
    max-width: 90%;
    border-radius: 1.4rem 1.4rem 1.4rem 3px;
    --padding: 0.5rem 0.9rem;
    font-size: 1.1rem;
    letter-spacing: 0px;
    line-height: 1.5rem;
    font-family: 'text', 'Noto Serif CJK SC', serif;
}

.ch-role-2 glass-card {
    --glass-bg: rgba(255, 255, 255, 0.22);
    max-width: 90%;
    border-radius: 1.4rem 1.4rem 3px 1.4rem;
    --padding: 0.5rem 0.9rem;
    font-size: 1.12rem;
    font-family: 'option', 'Noto Serif CJK SC', serif;
}


#chat-options {
    height: 25vh;
    width: 100%;
}