:root {
    /* 和屏幕边缘的边距 */
    --glow-margin: 20%;
    /* 每个光晕大小，vmax 是长宽中更大者 */
    --glow-size: 86vmax;
    /* 左上颜色 */
    --glow-color-1: rgb(12, 87, 226);
    /* 右下颜色 */
    --glow-color-2: rgb(104, 18, 234);
}

.background {
    position: fixed;
    inset: 0;
    overflow: hidden;
    /* 作为背景 */
    z-index: -1;
    /* 背景基础色 */
    background: #000000;
}

.glow {
    position: absolute;
    /* 模糊半径 */
    filter: blur(16vmax);
    /* 不透明度 */
    opacity: 0.6;
    /* 加速 */
    will-change: transform;
    pointer-events: none;
}

#glow-1 {
    top: var(--glow-margin);
    left: var(--glow-margin);
    width: var(--glow-size);
    height: var(--glow-size);
    margin-top: calc(var(--glow-size) / -2);
    margin-left: calc(var(--glow-size) / -2);
    background: radial-gradient(circle, var(--glow-color-1) 0%, transparent 70%);
}

#glow-2 {
    /* 计算右下边距 */
    top: calc(100% - var(--glow-margin));
    left: calc(100% - var(--glow-margin));
    width: var(--glow-size);
    height: var(--glow-size);
    margin-top: calc(var(--glow-size) / -2);
    margin-left: calc(var(--glow-size) / -2);
    background: radial-gradient(circle, var(--glow-color-2) 0%, transparent 70%);
}
