@font-face {
    font-family: 'title';
    src: url('fonts/original/香萃刻宋.ttf') format('truetype');
}

@font-face {
    font-family: 'text';
    src: url('fonts/original/方正宋刻本秀楷简体.ttf') format('truetype');
}

@font-face {
    font-family: 'option';
    src: url('fonts/original/平方韶华体.ttf') format('truetype');
}