div#home-title-box {
    width: calc(100% - 5dvh * 2);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20dvh 5dvh 0 5dvh;
    font-family: 'Noto Serif CJK SC', serif;
    color: white;
}

h1#home-title {
    margin: 0;
    font-size: 4rem;
}

span#home-title-en {
    color: #ffffffa0;
    font-size: 1.4rem;
}