/* 全局变量 */
:root {
    /* 左上颜色 */
    --bg-color-1: rgb(12, 87, 226);
    /* 右下颜色 */
    --bg-color-2: rgb(104, 18, 234);
    /* 三个级别的内容颜色 */
    --content-color-primary: white;
    --content-color-secondary: #ffffff76;
    --content-color-border: #ffffffa9;
}

/* 基础全局样式 */
html {
    /* 不允许用户选中文本 */
    user-select: none;
    /* 禁用 Chrome Mobile 难看的蓝色聚焦指示 */
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    background: linear-gradient(to bottom right, color-mix(in srgb, var(--bg-color-2), white 40%), color-mix(in srgb, var(--bg-color-1), white 40%));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.8px transparent;
    /* letter-spacing: 1px; */
    display: inline-block;
}

a:hover {
    background: linear-gradient(to bottom right, color-mix(in srgb, var(--bg-color-2), white 70%), color-mix(in srgb, var(--bg-color-1), white 70%));
    background-clip: text;
}

#nav {
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/* 导航栏按钮 */
.nav-button {
    height: 2.4rem;
    width: 2.4rem;
    margin: 1.3rem;
    border-radius: 100%;
    /* 内部图标居中 */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 关于按钮内部图标 */
.nav-button-icon {
    max-height: 1rem;
    max-width: 1rem;
}

.nav-button-icon path {
    fill: var(--content-color-primary);
}

#notify {
    font-family: text, 'Noto Serif CJK SC', serif;
    font-size: 1.1rem;
    height: 2.4rem;
    --padding: 0.6rem 0.8rem;
    border-radius: 999px;
    transform: translateY(-5rem);
}

/* 所有容器全部占满视口 */
.container {
    height: 100dvh;
    width: 100dvw;
    /* 相对视口定位 */
    position: fixed;
    /* 占满 */
    inset: 0;
    /* 高于背景 */
    z-index: 1;
    /* 默认隐藏 */
    display: none;
}


/* 记录 */
.glscontainer:hover .item:not(:hover) {
    opacity: 0.4;
    filter: blur(2px);
}